nav{
    background-color: rgba(190, 18, 18, 0.219);
    border-radius: 10%;
    box-shadow: 2px 2px 2px;   
    margin: 10px;     
}
ul{
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 1px 1px 5px rgba(6, 0, 0, 0.3);
    height: 20px;    
}

a:hover{
    color: darkviolet;
}
a{
    color: coral;
    text-decoration: none;
}
a:visited{
    color: black;
}